* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.list-tasks {
  padding:20px 15px;
}

.dailytasks {

display: flex;
flex-direction: column;
padding: 10px 5px;
}


.dailytasks-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #6b5684;
}


.dailytasks-task {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.dailytasks-task-checkbox, .dailytasks-task-action {
  flex: 0 0 20px;
  display: flex;
  align-items: center;
}

.dailytasks-task-checkbox > input[type="checkbox"] {
  transform: scale(1.8);
}

.dailytasks-task-details {
  flex: 1 0 0;
  padding: 10px 0;
  padding-left: 20px;
  align-items: center;
  display: flex;
}

.task-pic > img {
  width: 35px;
  height: 35px;
}

.dailytasks-task-details-paper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin-left: 10px;
}

.dailytasks-task-details-paper > .task-title {
  font-size: 0.8em;
  color: #373755;
  font-weight: bold;
  margin-bottom: 5px;
}

.dailytasks-task-details-paper > .task-notes {
  font-size: 0.6em;
  color: #a4adbf;
}

.dailytasks-task-action > img {
  width: 25px;
  height: 25px;
}

/*==========  For checked tasks  ==========*/

.dailytasks-task-checked .dailytasks-task-details-paper > .task-title,
.dailytasks-task-checked .dailytasks-task-details-paper > .task-notes{
 color: #dedede;
 text-decoration: line-through;
}

/*https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css*/
.dailytasks-task-checked .dailytasks-task-details .task-pic > img,
.dailytasks-task .dailytasks-task-action-unstarred > img {

 -webkit-filter: grayscale(120%);
 filter: grayscale(120%);

}

.dailytasks-task-checked .dailytasks-task-checkbox > input[type="checkbox"],
.dailytasks-task-checked .dailytasks-task-checkbox > input[type="checkbox"] + label {

 display: hidden;
 transform: scale(0);
}

/*==========  Checkbox styling  ==========*/
/*https://codepen.io/Vestride/pen/dABHx*/

.dailytasks-task-checkbox > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.dailytasks-task-checkbox > input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 20px;
}
.dailytasks-task-checkbox > input[type="checkbox"] + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #f9fafc;
  border: 1px solid #c0c6ce;
  border-radius: 10%;
}
.dailytasks-task-checkbox > input[type="checkbox"]:hover + label:before {
  background: #4d3c65;
}
.dailytasks-task-checkbox > input[type="checkbox"]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.dailytasks-task-checkbox > input[type="checkbox"]:checked + label:before {
  background: #4d3c65;
}
.dailytasks-task-checkbox > input[type="checkbox"]:disabled + label {
  color: #cbcbcb;
  cursor: auto;
}
.dailytasks-task-checkbox > input[type="checkbox"]:disabled + label:before {
  box-shadow: none;
  background: #cbcbcb;
}
.dailytasks-task-checkbox > input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
