main {
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 90%;
  padding: 5%;
  background-color: #f8f9fa;

}

p {
  color: #727980;
  font-family: 'Arvo', serif;
  text-align: justify;
  letter-spacing: 1px;
}

main > p:first-child::first-letter {
  font-family: Georgia;
  float: left;
  color: #000;
}


/*==========  Media Queries  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  main > p:first-child::first-letter {
    font-size: 7em;
    line-height: 60px;
    padding-top: 5%;
    padding-right: 8px;
  }

  p {
      line-height: 2em;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  p {
    font-size: 1em;
  }
  main > p:first-child::first-letter {
    font-size: 6em;
    padding-right: 18px;
  }
}

@media only screen and (min-width: 630px) {

  p {
    line-height: 2.2em;
  }

  main > p:first-child::first-letter {
    font-size: 7em;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 720px) {

  main > p:first-child::first-letter {
    font-size: 7.5em;
    padding-bottom: 18px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 872px) {
  p {
    font-size: 1.4em;
    line-height: 2em;
  }
  main > p:first-child::first-letter {
    font-size: 6.8em;
    padding-bottom: 25px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.6em;
  }
  main > p:first-child::first-letter {
    font-size: 6.8em;
    padding-bottom: 25px;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  p {
    font-size: 1.8em;
  }
  main > p:first-child::first-letter {
    padding-right: 25px;
  }
}


@media only screen and (min-width: 1600px) {
  p {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1800px) {
  p {
    font-size: 2.2em;
  }
  main > p:first-child::first-letter {
    font-size: 7em;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 2000px) {
  p {
    font-size: 2.4em;
  }
  main > p:first-child::first-letter {
    font-size: 7.2em;
  }
}
