* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  color: #f6f6f6;
  height: 90%;
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
}

.header {
  /*https://stackoverflow.com/questions/31116427/flexbox-column-align-multiple-items-to-both-top-and-bottom*/
  margin-top: auto;
}

.title {
  text-transform: uppercase;
  font-size: 3.5em;
}

footer {
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
}

#close, #comments {
  flex: 0 0 20%;
}

#close {
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: bold;
  letter-spacing: 1px;
}

#comments > i {
  color: #0f1215;
}

#navigation {
  flex-grow: 1;
}

#navigation ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
#navigation ol > li {
    display: inline;
}

#navigation ol > li > a{
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #5c6975;
  border-radius: 50%;
}

#navigation ol > li > a:hover, #navigation ol > li > a.active{
  background-color: #0f1215;
}
