$image-path: '../images/city.png';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  display: flex;

  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;

}

.signup-interface {
  display: flex;
  min-height: 100%;
  height: 100%;
  padding-top: 8%;
  flex: 1 0 50%;
  flex-flow: column;
}

.signup-interface > div {
  padding: 0 10%;
}

.signup-interface-header > p {
  margin: 0;
  padding: 0;
}

.signup-interface-header > .header-label, .signup-interface-header > .header-details {
  color: #737984;
}

.signup-interface-header > .header-title, .signup-interface-header > .header-details, .signup-interface-footer > a.footer-link {
  font-family: 'Raleway', sans-serif;
}

.signup-interface-header > .header-label {
  font-family: 'Arvo', sans-serif;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.signup-interface-header > .header-title {
  font-size: 3em;
  padding: 10px 0;
  letter-spacing: 1.5px;
  color: #38393f;
}

.signup-interface-header > .header-details {
  font-size: .8em;
  line-height: 2em;
}

.signup-interface-buttons {
  display: flex;
  margin: 5% 0;
  flex-flow: column;
  flex-grow: 1;
}

.signup-interface-buttons > button {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  border: 1px solid #e9eaea;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.signup-interface-buttons > button:hover {
  cursor: pointer;
  border: 0;
  -webkit-box-shadow: 0 5px 20px 5px rgba(232, 236, 240, 1);
  -moz-box-shadow: 0 5px 20px 5px rgba(232, 236, 240, 1);
  box-shadow: 0 5px 20px 5px rgba(232, 236, 240, 1);
}

.signup-interface-buttons > button > span.social-icon {
  position: absolute;
  left: 5%;
}

.signup-interface-buttons > button > span.social-icon > img {
  width: 35px;
  height: 35px;
}

.signup-interface-buttons > button > span.social-label {
  font-family: 'Arvo', sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-grow: 1;
}

main.signup-interface > div.signup-interface-footer {
  display: flex;
  width: 100%;
  height: 10%;
  max-height: 10%;
  border-top: 1px solid #d7dde4;
  align-items: center;
}

.signup-interface-footer > a.footer-link {
  margin-left: auto;
  text-decoration: none;
  color: #1b0c29;
}

.signup-interface-footer > a.footer-link:hover {
  text-decoration: underline;
}

.signup-interface-footer > a.footer-link span.label {
  font-size: .8em;
}

.signup-interface-footer > a.footer-link > span > i {
  padding-left: 2px;
  -webkit-text-stroke: 2px #fff;
}

.signup-photo {
  width: 35%;
  max-width: 35%;
  background: url($image-path) no-repeat center;
  /* https://stackoverflow.com/questions/26774183/css-stretch-or-fit-background-image */
  background-size: cover;
}


/** MEDIA QUERIES **/

@media only screen and (max-width: 768px) {
  .signup-photo {
    display: none;
  }
  .signup-interface:before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .3;
    background-image: linear-gradient(to right, #6d5a89, #2c2757);
  }
  .signup-interface * {
    z-index: 1;
  }
  .signup-interface {
    background: url($image-path) no-repeat center;
    /* https://stackoverflow.com/questions/26774183/css-stretch-or-fit-background-image */
    background-size: cover;
  }
  .signup-interface-header > .header-label, .signup-interface-header > .header-title, .signup-interface-header > .header-details, .signup-interface-footer > a.footer-link {
    color: #fff;
  }
  .signup-interface-header > .header-label, .signup-interface-header > .header-title {
    text-align: center;
  }
  .signup-interface-header > .header-details {
    text-align: justify;
  }
  .signup-interface-footer > a.footer-link > span > i {
    padding-left: 2px;
    -webkit-text-stroke: 2px #351e46;
  }
  .signup-interface-buttons > button {
    width: 80%;
    align-self: center;
  }
  .signup-interface-buttons > button:hover {
    -webkit-box-shadow: 0 2px 20px 5px rgb(138, 111, 162);
    -moz-box-shadow: 0 2px 20px 5px rgb(138, 111, 162);
    box-shadow: 0 2px 20px 5px rgb(138, 111, 162);
  }
  main.signup-interface > div.signup-interface-footer {
    border-color: #6f5b7d;
  }
}


/* IPAD PORTRAIT */

@media only screen and (max-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  .signup-interface {
    padding-top: 25%;
  }
  .signup-interface-buttons {
    margin: 10% 0;
  }
  .signup-interface-buttons > button > span.social-label {
    font-size: 1.5em;
  }
  div.signup-interface-footer > a.footer-link > span.label {
    font-size: 1.2em;
  }
}


/* IPAD LANDSCAPE */

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .signup-interface-buttons > button > span.social-label {
    font-size: 1.5em;
  }
  div.signup-interface-footer > a.footer-link > span.label {
    font-size: 1.2em;
  }
}


/* IPAD PRO PORTRAIT */

@media only screen and (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .signup-interface {
    padding-top: 25%;
  }
  .signup-interface-buttons {
    margin: 10% 0;
  }
  .signup-interface-buttons > button > span.social-label {
    font-size: 1.5em;
  }
  div.signup-interface-footer > a.footer-link > span.label {
    font-size: 1.5em;
  }
}


/* IPAD PRO LANDSCAPE */

@media only screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
  .signup-interface {
    height: 100%;
    padding-top: 10%;
  }
  .signup-interface-buttons > button {
    width: 80%;
    align-self: center;
  }
  .signup-interface-buttons > button > span.social-label {
    font-size: 1.5em;
  }
  div.signup-interface-footer > a.footer-link > span.label {
    font-size: 1em;
  }
}

@media only screen and (max-width: 560px) {
  .signup-interface-header > .header-title {
    font-size: 1.8em;
    padding: 20px 0;
  }
  .signup-interface-buttons {
    margin-top: 40px;
  }
  .signup-interface-buttons > button {
    width: 100%;
    height: 50px;
    margin: 5px 0;
  }
  .signup-interface-buttons > button > span.social-label {
    font-size: 1em;
  }
  .signup-interface-buttons > button > span.social-icon > img {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 380px) {
  .signup-interface-buttons > button {
    width: 100%;
  }
  .signup-interface-buttons > button > span.social-label {
    font-size: .8em;
    font-weight: bold;
  }
  .signup-interface-buttons > button > span.social-icon > img {
    width: 20px;
    height: 20px;
  }
}
