div.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  padding-left: 5px;
  background-color: #e3eefd;
  background-image: url('../img/background-db-homepage.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  justify-content: center;
}

div.hero div.top-section {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  width: 80%;
  margin: 0;
  padding: 22px 7px;
  text-align: left;
  color: #47525d;
}

div.hero div.top-section div.hero-header {
  font-size: 3em;
  font-weight: lighter;
  line-height: 1.3em;
  width: 460px;
  padding: 5px;
  letter-spacing: 1px;
}

div.hero div.top-section div.hero-subheader {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.5em;
  width: 460px;
  padding: 30px 5px;
  letter-spacing: 1px;
}

div.hero div.top-section div.hero-links {
  width: 460px;
  padding: 5px;
}

div.hero div.top-section div.hero-links div.hero-button {
  font-size: 1.05em;
  display: flex;
  width: 245px;
  height: 60px;
  margin: 10px 0;
  text-decoration: none;
  border: 1px solid #0071e0;
  border-radius: 4px;
  background-color: #0071e0;
  align-items: center;
  justify-content: center;
}

div.hero div.top-section div.hero-links div.hero-button a.home-hero-signup {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
}

div.hero div.top-section div.hero-links div.hero-links-footer {
  padding: 8px 0;
}

div.hero div.top-section div.hero-links div.hero-links-footer a {
  text-decoration: none;
  color: #0071e0;
  border-bottom: 1px solid #0071e0;
}

main {
  height: 100vh;
  min-height: 100vh;
}
